<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<!-- bower install -save PolymerElements/app-route -->
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../pages/login-page.html">
<link rel="import" href="../pages/dashboard-page.html">
<link rel="import" href="../pages/alta-movimiento-page.html">
<link rel="import" href="../pages/alta-usuario-page.html">
<link rel="import" href="../pages/nueva-funcionalidad-page.html">
<link rel="import" href="../pages/login-usuario.html">
<link rel="import" href="../pages/afiliar-usuario-page.html">
<link rel="import" href="../pages/recuperar-usuario.html">
<link rel="import" href="../pages/operaciones-cuenta-page.html">
<link rel="import" href="../pages/tarjetas-page.html">

<dom-module id="link-app">
  <template>
    <app-location route="{{route}}"></app-location>
    <app-route id="router-principal"
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{subroute}}">
    </app-route>

    <iron-pages selected="[[data.page]]"
                attr-for-selected="name">
      <login-usuario name="login" on-myevent="processEvent" ></login-usuario>
      <dashboard-page name="dashboard" id="receiver"></dashboard-page>
      <alta-movimiento-page name="alta-movimiento"></alta-movimiento-page>
      <afiliar-usuario-page name="afiliar-usuario"></afiliar-usuario-page>
      <recuperar-usuario-page name="recupera-usuario"></recuperar-usuario-page>
      <operaciones-cuenta-page name="operaciones-cuenta"></operaciones-cuenta-page>
      <tarjetas-page name="tarjetas"></tarjetas-page>
    </iron-pages>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LinkApp extends Polymer.Element {
      static get is() { return 'link-app'; }
      static get properties() {
        return {
        };
      }
      processEvent(e){
        this.$.receiver.course = e.detail.course;
        this.$.receiver.year = e.detail.year;
        this.$.receiver.idUsuario = e.detail.idUsuario;
        this.$.receiver.nomUsuario = e.detail.nomUsuario;
        this.$.receiver.apeUsuario = e.detail.apeUsuario;
        this.$.receiver.userName = e.detail.userName;
      }

      ready() {
        super.ready();
        //console.log('Ejecutándose ready');
        this.set('route.path', '/login/');
      }
    }

    window.customElements.define(LinkApp.is, LinkApp);
  </script>
</dom-module>
