<dom-module id="syles-front">
<template>
<style>
html,
body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.wrapper {
  background-color: #072146;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 350px;
  max-width: 450px;
  width: 55%;
  transform: translateY(-15%);
  padding: 35px;
  background-color: #072146;
  border-radius: 15px;
  border: 0px solid white;
}

.container-logo {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.container-logo>img {
  width: 120px;
  height: 50px;
  margin: 5px;
}

.input-text {
  margin-bottom: 5%;
  height: 50px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #676767;
  background: #f4f4f4;
  border-radius: 3px;
}

.input-text-doc {
  margin-bottom: 5%;
  height: 50px;
  width: 75.5%;
  border: none;
  border-bottom: 1px solid #676767;
  background: #f4f4f4;
  border-radius: 3px;
}

input,
input::-webkit-input-placeholder {
  font-size: 18px;
  padding-bottom: 0px;
  padding-left: 5px;
}

input,
input::-moz-placeholder {
  font-size: 18px;
  padding-bottom: 0px;
  padding-left: 5px;
}

input:focus {
  outline: none;
}

.btn-custom {
  background-color: #237ABA;
  color: white;
  margin-top: 2%;
  width: 100%;
  height: 50px;
  font-size: 18px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-custom:disabled {
  background-color: rgb(119, 178, 230);
  cursor: no-drop;
}

.error {
  min-width: 60%;
  background-color: rgb(252, 223, 223);
  color: rgb(243, 94, 97);
  border: solid 1px rgb(243, 94, 97);
  font-weight: 800;
  border-radius: 3px;
  padding: 10px;
  margin: 0 15px;
  text-align: center;
  font-size: 25px;
}
.hidden {
  visibility: hidden;
}

.btnFormulario {
  background-color: #072146;
  color: white;
  margin-top: 2%;
  width: 100%;
  height: 50px;
  font-size: 18px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}

@media(max-width:450px) {
  .wrapper {
    background-color: #072146;
    color: red;
  }

  .container {
    border: none;
    box-shadow: none;
  }
}
</style>
</template>
</dom-module>
