<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="/assets/css/styles.html" />

<dom-module id="afiliar-usuario-page">
  <template>
  <style include="syles-front"></style>
      <app-location route="{{route}}"></app-location>
      <app-route
              route="{{route}}"
              pattern="/:page"
              data="{{data}}"
              tail="{{tail}}">
      </app-route>
  <div class="wrapper">
    <div hidden$={{pagAfiliar}} class="container">
        <div class="container-logo"><img src="https://cellspgc.bbva.pe/resources/images/logo_bbva_blanco.svg"></div>
        <span></span> <br>
        <span><select style="height:10%;width:22%;font-weight:800;font-size:18px" value="{{componentDoc::input}}">
          <option>DNI</option>
          <option>EXT</option>
        </select>
        <input id="documento" name="documento" placeholder="Documento" class="input-text-doc" autocomplete="off" value="{{documento::input}}" type="text" size="8" maxlength="8" required /></span>
        <div><input id="username" name="username" placeholder="Usuario" class="input-text" autocomplete="off" value="{{username::input}}"/></div>
        <div><input id="password" name="password" placeholder="Contraseña" type="password" class="input-text" autocomplete="off" value="{{password::input}}" /></div>
        <div><input id="email" name="email" placeholder="Correo Eléctronico" class="input-text" autocomplete="off" value="{{email::input}}" /></div>

        <button id="afiliar" class="btn-custom" on-click="afiliate">Afiliate</button>
        <button id="cancelar" class="btn-custom" on-click="cancelarA">Cancelar</button><br>
        <span></span>
        <div class ="error" hidden ="true" id="divMsg"><span id="spanMsg">{{resMsg}}</span></div>
    </div>
    <!-- <visor-usuario id="mostrarUsuario"></visor-usuario> -->
  </div>
</div>

  <iron-ajax
    id="doLogin"
    url="http://localhost:3003/techu/v1/usuarios/altabm/{{tipodoc}}{{documento}}"
    content-type="application/json"
    method="POST"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">

  </template>

  <script>

    class AfiliarUsuarioPage extends Polymer.Element {
      static get is() { return 'afiliar-usuario-page'; }
      static get properties() {
        return {
            componentDoc: {
            type: String,
            value: 'DNI'
            },
            documento: {
            type: String
            },
            tipodoc: {
            type: Number
            },
            username: {
            type: String
            },
            password: {
            type: String
            },
            email: {
            type: String
            },
            resError: {
            type: String
            },
            pagAfiliar:{
            type: Boolean,
            value: false
            }
          };
        }

    afiliate(e){
      var mensaje;

      if((this.$.documento.value=="") || (this.$.username.value=="")||(this.$.password.value=="")|| (this.$.email.value=="")){
        mensaje ="Datos no ingresados";
      }


      if (mensaje != undefined){
      swal({
            title: "Oops...",
            text: mensaje,
            icon: "error",
        });
      }else{
        if(this.componentDoc=='DNI'){
          this.tipodoc=1;
        }else{
          this.tipodoc=2;
        }

        var afiliaData = {
            "username" : this.username,
            "password" : this.password,
            "email": this.email
        };
        this.$.doLogin.body = JSON.stringify(afiliaData);
        this.$.doLogin.generateRequest();
      }
    }


    manageAJAXResponse(data) {
    this.$.documento.value="";
    this.$.username.value="";
    this.$.password.value="";
    this.$.email.value="";

    swal({
        title: data.detail.response.msg,
        icon: "info",
    });

    this.set('route.path', '/login/');

    }

    showError(error) {
      console.log("Hubo un error");
      console.log(error);
    }

    cancelarA(){
        this.set('route.path', '/login/');
    }
  }
    window.customElements.define(AfiliarUsuarioPage.is, AfiliarUsuarioPage);
  </script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</dom-module>
