<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<dom-module id="alta-usuario-page">
    <template>
        <a>Estoy en la alta de Usuarios</a>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class AltaUsuarioPage extends Polymer.Element {
            static get is() { return 'alta-usuario-page'; }
            static get properties() {
                return {
                };
            }
        }

        window.customElements.define(AltaUsuarioPage.is, AltaUsuarioPage);
    </script>
</dom-module>
