<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../src/componentes/miga-componente.html">
<link rel="import" href="../../src/componentes/pie-componente.html">


<dom-module id="dashboard-page">
    <template>
        <!-- Favicon -->
        <link rel="icon" href="../../assets/img/brand/favicon.png" type="image/png">
        <!-- Icons -->
        <link rel="stylesheet" href="../../assets/vendor/nucleo/css/nucleo.css" type="text/css">
        <link rel="stylesheet" href="../../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
        <!-- Argon CSS -->
        <link rel="stylesheet" href="../../assets/css/argon.css?v=1.2.0" type="text/css">

        <app-location route="{{route}}"></app-location>
        <app-route
                route="{{route}}"
                pattern="/:page"
                data="{{data}}"
                tail="{{tail}}">
        </app-route>
        <body>
        <!-- Sidenav -->
        <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
            <div class="scrollbar-inner">
                <!-- Brand -->
                <div class="sidenav-header  align-items-center">
                    <a class="navbar-brand" href="javascript:void(0)">
                        <img src="../../assets/img/brand/bbva.png" class="navbar-brand-img" alt="...">
                    </a>
                </div>
                <div class="navbar-inner">
                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                        <!-- Nav items -->
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="/dashboard">
                                    <i class="ni ni-money-coins text-primary"></i>
                                    <span class="nav-link-text">Cuentas</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tarjetas" on-click="routeTarjetas">
                                    <i class="ni ni-credit-card text-orange"></i>
                                    <span class="nav-link-text">Tarjetas</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Divider -->
                        <hr class="my-3">
                        <!-- Heading -->
                        <h6 class="navbar-heading p-0 text-muted">
                            <span class="docs-normal">Conocenos</span>
                        </h6>
                        <!-- Navigation -->
                        <ul class="navbar-nav mb-md-3">
                            <li class="nav-item" on-click="conocenos">
                                <a class="nav-link" target="_blank" >
                                    <i class="ni ni-pin-3 text-primary"></i>
                                    <span class="nav-link-text">Desarrolladores</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Main content -->
        <div class="main-content" id="panel">
            <!-- Topnav -->
            <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Search form -->
                        <!--<div style="font-size: 20px;color:#41e843;text-align: center"> El tipo de cambio de hoy del Dolar es {{tipCambio}} soles</div><br>-->
                        <div class="text-green">
                            El tipo de cambio de hoy del <strong>Dolar</strong> es <strong>{{tipCambio}} soles.</strong>
                        </div>
                        <ul class="navbar-nav align-items-center  ml-md-auto ">
                        </ul>
                        <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                            <li class="nav-item dropdown">
                                <a style="color:#f4f4f4">
                                    <div class="media align-items-center">
                                        <span class="avatar avatar-sm rounded-circle">
                                          <img alt="Image placeholder" src="../../assets/img/theme/team-4.jpg">
                                        </span>
                                        <div class="media-body  ml-2  d-none d-lg-block">
                                            <span class="mb-0 text-sm  font-weight-bold">{{nomUsuario}} {{apeUsuario}}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item dropdown">|</li>
                            <li class="nav-item dropdown">
                                <button class="btn btn-outline-danger" type="button" on-click="salir">
                                    <span class="btn-inner--icon"><i class="ni ni-curved-next"></i></span>
                                    <span class="btn-inner--text">Salir</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header -->
            <!-- Header -->
            <div class="header bg-primary pb-6">
                <div class="container-fluid">
                    <div class="header-body">
                        <!--Miga de pan-->
                        <miga-componente></miga-componente>
                        <!-- Card stats -->
                        <div class="row justify-content-md-center">
                            <template is="dom-repeat" items="{{cuentas}}">
                                <div class="col-xl-3 col-md-6">
                                    <div class="card card-stats">
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <a class="row" href="/operaciones-cuenta/{{item.id_cuenta}}">
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted mb-0">Cuentas</h5>
                                                    <span class="h2 font-weight-bold mb-0">{{item.id_divisa}} {{item.saldo}}</span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                                        <i class="ni ni-active-40"></i>
                                                    </div>
                                                </div>
                                            </a>
                                            <p class="mt-3 mb-0 text-sm">
                                                <span class="text-success mr-2"><i class="ni ni-fat-delete"></i> {{item.numero_cuenta}}</span>
                                                <span class="text-nowrap">{{item.tipo_cuenta}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page content -->
            <div class="container-fluid mt--6">
                <div class="row justify-content-md-center">
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0">Ultimos movimientos</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <!-- Projects table -->
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Concepto</th>
                                        <th scope="col">Monto</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template is="dom-repeat" items="{{movimientos}}">
                                        <tr>
                                            <th scope="row">
                                                {{item.fecha_operacion}}
                                            </th>
                                            <td>
                                                {{item.concepto}}
                                            </td>
                                            <td>
                                                {{item.divisa}}{{item.importe}}
                                            </td>
                                        </tr>
                                    </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Footer -->
                <pie-componente></pie-componente>
            </div>
        </div>
        </body>

        <iron-ajax
                id="getCuentas"
                url="http://localhost:3003/techu/v1/usuarios/{{idUsuario}}/cuentas"
                content-type="application/json"
                method="GET"
                handle-as="json"
                on-response="showData"
                on-error="showError">

            <iron-ajax
                id="getUltimosMovimientos"
                url="http://127.0.0.1:3003/techu/v1/usuarios/cuentas/movimientos?filtro={{urlSoloCuentas}}"
                content-type="application/json"
                method="GET"
                handle-as="json"
                on-response="showDataMovimientos"
                on-error="showError">

            <iron-ajax auto
                id="getCambio"
                url="http://localhost:3003/techu/v1/apiExterna/tipocambio"
                handle-as="json"
                on-response="showCambio"
                on-error="showError">

            <iron-ajax
                id="doLogout"
                url="http://localhost:3003/techu/v1/usuarios/logout"
                content-type="application/json"
                method="POST"
                handle-as="json"
                on-response="showLogout"
                on-error="showError">

    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class DashboardPage extends Polymer.Element {
            static get is() { return 'dashboard-page'; }
            static get observers() {
                return [
                    '_routeChanged(route.*)',
                    '_viewChanged(routeData.view)'
                ]
            }
            static get properties() {
                return {
                    course: {
                        type: String
                    }, year:{
                        type: String
                    }, idUsuario: {
                        type: String,
                        observer: '_idChanged'
                    }, cuentas:{
                        type: Array
                    }, route: {
                        type: Object
                    }, movimientos: {
                        type: Array
                    }, urlSoloCuentas: {
                        type: String,
                        observer: '_filtroMovimientos'
                    },
                    tipCambio: {
                      type: String
                    },
                    nomUsuario:{
                        type: String
                    },
                    apeUsuario:{
                        type: String
                    },
                    userName:{
                        type: String
                    }
                };
            }
            _idChanged() {

                this.$.getCuentas.generateRequest();

            }
            _filtroMovimientos(){
                //this.$.getUltimosMovimientos.generateRequest();
                this.$.getCuentas.generateRequest();
            }


            _routeChanged(changeRecord) {
                if(this.tail.prefix === '/dashboard'){
                    if(this.tail.path !== ''){
                        //let idCuenta = this.tail.path;
                        //let idCuentaParse = parseInt(idCuenta.slice(1));
                        //console.log("idcuenta: " + idCuentaParse);
                        this.$.getCuentas.generateRequest();
                        //derivar hacia solo lista de movimientos y operaciones de la cuenta seleccionada
                    }
                } else {
                    if(this.tail.prefix === '/operaciones-cuenta'){
                        let idCuenta = this.tail.path;
                        let idCuentaParse = parseInt(idCuenta.slice(1));
                        let arrayCuentas = JSON.parse(localStorage.getItem('cuentas'));
                        let datosCuenta = arrayCuentas.find(x => x.id_cuenta === idCuentaParse);
                        localStorage.setItem('idCuenta',datosCuenta.id_cuenta);
                        localStorage.setItem('divisa', datosCuenta.id_divisa);
                        localStorage.setItem('saldo',datosCuenta.saldo);
                        localStorage.setItem('tipoCuenta',datosCuenta.tipo_cuenta);
                        localStorage.setItem('nroCuenta',datosCuenta.nroCtaFull);
                    }
                }
            }

            showData(data) {
                let cuentasArray = data.detail.response;
                let soloCuentas = [];
                for (let item of cuentasArray){
                    item.id_divisa = this.utilDivisa(item.id_divisa, "simbolo");
                    item.nroCtaFull =item.numero_cuenta;
                    item.numero_cuenta = item.numero_cuenta.slice(9);
                    item.tipo_cuenta = this.utilCuentas(item.tipo_cuenta);
                    soloCuentas.push(item.id_cuenta);
                }

                this.cuentas = cuentasArray;
                localStorage.setItem('cuentas',JSON.stringify(cuentasArray));
                this.urlSoloCuentas=soloCuentas.join();
                localStorage.setItem("urlSoloCuentas", soloCuentas.join());
                this.$.getUltimosMovimientos.generateRequest();
            }
            showDataMovimientos(data) {
                let arrayMovimientos = data.detail.response;
                let cuentas = JSON.parse(localStorage.getItem("cuentas"));
                for (let item of arrayMovimientos){
                    let divisa = cuentas.find(x => x.id_cuenta === item.id_cuenta);
                    item.divisa = divisa.id_divisa;
                }
                this.movimientos = arrayMovimientos;
            }

            showCambio(data) {
                localStorage.setItem('tipoCambio',data.detail.response.result.amount);
                this.tipCambio = data.detail.response.result.amount;
            }

            utilDivisa(divisa, transformar){
                let divisasValidas = [
                    {idDivisa: 1, denominacion: "Soles", simbolo: "s/"},
                    {idDivisa: 2, denominacion: "Dolares", simbolo: "$"},
                    {idDivisa: 3, denominacion: "Euros", simbolo: "€"}
                    ];

                switch (transformar) {
                    case 'denominacion':
                        return divisasValidas.find(x => x.idDivisa === divisa).denominacion;
                    case 'simbolo':
                        return divisasValidas.find(x => x.idDivisa === divisa).simbolo;
                }
                return divisasValidas[0].denominacion;
            }

            utilCuentas(tipoCuenta){
                let tipoCuentasValidas = [
                    {tipoCuenta: 1, denominacion: "Cuenta Ganadora"},
                    {tipoCuenta: 2, denominacion: "Cuenta Sueldo"},
                    {tipoCuenta: 3, denominacion: "Depósito a Plazo"},
                    {tipoCuenta: 4, denominacion: "CTS súper depósito"}
                ];

                 return tipoCuentasValidas.find(x => x.tipoCuenta === tipoCuenta).denominacion;
            }

            salir(){
                var logoutData = {
                  "username" : this.userName
                };
                this.$.doLogout.body = JSON.stringify(logoutData);
                this.$.doLogout.generateRequest();
              }

              showLogout(data) {
                 this.set('route.path', '/login/');
                 
                 swal({
                     title: "Gracias por usar Banca BBVA",
                     icon: "info",
                 });

              }



            conocenos(){
                swal({
                    title: "Desarrolladores",
                    text: "Joana Melgarejo y José Vargas",
                    icon: "info",
                });
            }

            routeTarjetas(data){
                    this.set('route.path', '/tarjetas/');
                }
        }

        window.customElements.define(DashboardPage.is, DashboardPage);
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</dom-module>
