<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="/assets/css/styles.html" />
<!--<link rel="import" href="../visor-usuario/visor-usuario.html">-->


<dom-module id="login-usuario">
 <template>
     <app-location route="{{route}}"></app-location>
     <app-route id="router-secundario"
                route="{{route}}"
                pattern="/:page"
                data="{{data}}"
                tail="{{subroute}}">
     </app-route>
     <style include="syles-front"></style>
     <div class="wrapper">
       <div hidden$={{pagLoguin}} class="container">
           <div class="container-logo"><img src="https://cellspgc.bbva.pe/resources/images/logo_bbva_blanco.svg"></div>
           <div><input id="username" name="username" placeholder="Usuario" class="input-text" autocomplete="off" value="{{username::input}}"/></div>
           <div><input id="password" name="password" placeholder="Contraseña" type="password" class="input-text" autocomplete="off" value="{{password::input}}" /></div>
           <div><input type="hidden" name="login-form-type" value="pwd" /></div>
           <button id="submit" class="btn-custom" on-click="login" data-dialog ="pagLoguin">Ingresar</button><br>
           <button id="afiliar" class="btnFormulario" on-click="afilia">Afiliate</button><br>
           <button id="recuperar" class="btnFormulario" on-click="recupera">¿Olvidó la Contraseña?</button>
           <div class ="error" hidden ="true" id="divError"><span id="spanError">{{resError}}</span></div>

       </div>
       <!--<visor-usuario id="mostrarUsuario"></visor-usuario>-->
     </div>
     <iron-ajax
         id="doLogin"
         url="http://localhost:3003/techu/v1/usuarios/login"
         content-type="application/json"
         method="POST"
         handle-as="json"
         on-response="manageAJAXResponse"
         on-error="showError">

 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         username: {
           type: String
         },
         password: {
           type: String
         },
         resError:{
           type: String
         },
         pagLoguin:{
           type: Boolean,
           value: false
         }
       };
     }

     login(e) {
         var loginData = {
             "username" : this.username,
             "password" : this.password
         };
         this.$.doLogin.body = JSON.stringify(loginData);
         this.$.doLogin.generateRequest();
     }

     manageAJAXResponse(data) {
        if ( data.detail.response.msg!=undefined || this.$.username.value=="" || this.$.password.value=="") {

          swal({
              title: "Oops...",
              text: data.detail.response.msg,
              icon: "error",
          });

        }else{
          this.$.divError.hidden = true;
          var objUsuario = data.detail.response;
          localStorage.setItem("email",objUsuario.email);
          this.sendEvent(objUsuario.id_usuario,objUsuario.nombres,objUsuario.apellidos);

          this.$.username.value="";
          this.$.password.value="";

          this.set('route.path', '/dashboard/');
        }
     }
     afilia(){
         this.set('route.path', '/afiliar-usuario/');
     }

     recupera(){
         this.set('route.path', '/recupera-usuario/');
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }
       sendEvent(id_usuario,nombres,apellidos){
           console.log("evento ingresar login");
           console.log("mensaje : " + id_usuario);
           console.log(nombres + "-"+apellidos);
           localStorage.setItem('nombresApellidos',nombres + ' ' + apellidos);
           this.dispatchEvent(
               new CustomEvent(
                   "myevent", {
                       "detail" : {
                           "course" : "techU",
                           "year" : 2990,
                           "idUsuario": id_usuario,
                           "nomUsuario":nombres,
                           "apeUsuario":apellidos,
                           "userName":this.username
                       }
                   }
               )
           );
       }

   }
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</dom-module>
