<link href="../../bower_components/polymer/polymer-element.html" rel="import">
<link href="../componentes/miga-componente.html" rel="import">
<link href="../componentes/pie-componente.html" rel="import">



<dom-module id="operaciones-cuenta-page">
    <!-- Defines the element's style and local DOM -->
    <template>
        <app-location route="{{route}}"></app-location>
        <app-route
                data="{{data}}"
                pattern="/:page"
                route="{{route}}"
                tail="{{tail}}">
        </app-route>
        <!-- Favicon -->
        <link href="../../assets/img/brand/favicon.png" rel="icon" type="image/png">
        <!-- Icons -->
        <link href="../../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet" type="text/css">
        <link href="../../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Argon CSS -->
        <link href="../../assets/css/argon.css?v=1.2.0" rel="stylesheet" type="text/css">
        <body>
        <!-- Sidenav -->
        <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white"
             id="sidenav-main">
            <div class="scrollbar-inner">
                <!-- Brand -->
                <div class="sidenav-header  align-items-center">
                    <a class="navbar-brand" href="javascript:void(0)">
                        <img alt="..." class="navbar-brand-img" src="../../assets/img/brand/bbva.png">
                    </a>
                </div>
                <div class="navbar-inner">
                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                        <!-- Nav items -->
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="/dashboard">
                                    <i class="ni ni-money-coins text-primary"></i>
                                    <span class="nav-link-text">Cuentas</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tarjetas">
                                    <i class="ni ni-credit-card text-orange"></i>
                                    <span class="nav-link-text">Tarjetas</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Divider -->
                        <hr class="my-3">
                        <!-- Heading -->
                        <h6 class="navbar-heading p-0 text-muted">
                            <span class="docs-normal">Conocenos</span>
                        </h6>
                        <!-- Navigation -->
                        <ul class="navbar-nav mb-md-3">
                            <li class="nav-item" on-click="generarImg">
                                <a class="nav-link" target="_blank" >
                                    <i class="ni ni-pin-3 text-primary"></i>
                                    <span class="nav-link-text">Desarrolladores</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Main content -->
        <div class="main-content" id="panel">
            <!-- Topnav -->
            <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Search form -->
                        <div class="text-green">
                            El tipo de cambio de hoy del <strong>Dolar</strong> es <strong>{{tipoCambio}} soles.</strong>
                        </div>
                        <br>
                        <ul class="navbar-nav align-items-center  ml-md-auto ">
                        </ul>
                        <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                            <li class="nav-item dropdown">
                                <a style="color:#f4f4f4">
                                    <div class="media align-items-center">
                                        <span class="avatar avatar-sm rounded-circle">
                                          <img alt="Image placeholder" src="../../assets/img/theme/team-4.jpg">
                                        </span>
                                        <div class="media-body  ml-2  d-none d-lg-block">
                                            <span class="mb-0 text-sm  font-weight-bold">{{nombreApellido}}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item dropdown">|</li>
                            <li class="nav-item dropdown">
                                <button class="btn btn-outline-danger" type="button" on-click="salir">
                                    <span class="btn-inner--icon"><i class="ni ni-curved-next"></i></span>
                                    <span class="btn-inner--text">Salir</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header -->
            <!-- Header -->
            <div class="header bg-primary pb-6">
                <div class="container-fluid">
                    <div class="header-body">
                        <miga-componente></miga-componente>
                        <!-- Card stats -->
                        <div class="row justify-content-md-center">
                            <div class="tab-content col-xl-9">

                                <div class="card shadow">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div aria-labelledby="tabs-icons-text-1-tab"
                                                 class="tab-pane fade show active">
                                                <h3 class="text-center">{{DesCuenta}}</h3>
                                                <h2 class="text-center">
                                                    <small class="text-muted">{{divisa}}{{saldoDisponible}}</small>
                                                </h2>
                                                <h3 class="text-center">
                                                    <small class="text-muted">Saldo disponible</small>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page content -->
            <div class="container-fluid mt--6">
                <div class="row justify-content-md-center" hidden$={{tablaMovimientos}}>
                    <div class="col-xl-9">
                        <div class="nav-wrapper">
                            <ul class="nav nav-pills nav-fill flex-md-row">
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0 btn btn-secondary"
                                       href="#tabs-icons-text-1" on-click="transferir"><i
                                            class="ni ni-curved-next mr-2"></i>Transferir</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0 btn btn-secondary"
                                       href="/dashboard" on-click="regresarMisCuentas"><i
                                            class="ni ni ni-bullet-list-67 mr-2"></i>Mis Cuentas</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0">Ultimos movimientos</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <!-- Projects table -->
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Concepto</th>
                                        <th scope="col">Monto</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template is="dom-repeat" items="{{movimientos}}">
                                        <tr>
                                            <th scope="row">
                                                {{item.fecha_operacion}}
                                            </th>
                                            <td>
                                                {{item.concepto}}
                                            </td>
                                            <td>
                                                {{divisa}}{{item.importe}}
                                            </td>
                                        </tr>
                                    </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row justify-content-md-center" hidden$={{InCuenta}}>
                    <div class="card bg-secondary border-0 mb-0col-lg-5 col-md-7">
                        <div class="card-body px-lg-5 py-lg-2">
                                <h4>Ingrese el número de cuenta del beneficiario</h4>
                                <input type="text" class="form-control" placeholder="Número de cuenta o CCI" autocomplete="off" value="{{nroCtaDestinatario::input}}"/>
                                <h6><i class="ni ni-air-baloon text-primary"></i>Puedes transferir dinero a otras cuentas BBVA y a cuentas de otros bancos.</h6><br>
                                <div class="text-center">
                                    <button type="button" class="btn btn-default" on-click="buscarBeneficiario">Buscar</button>
                                    <button type="button" class="btn btn-default" on-click="regresarOper">Regresar</button>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center" hidden$={{InDetalleAlta}}>
                    <div class="card bg-secondary border-0 mb-0col-lg-5 col-md-7">

                        <div class="card-header bg-transparent text-center px-lg-5 py-lg-2">
                            <h4>CUENTA DE DESTINO</h4>
                            <template is="dom-repeat" items="{{dPersonalesDestinatario}}">
                            <h2>
                                <small class="text-muted">{{item.nombres}} {{item.apellidos}}</small>
                            </h2>
                            <h2>
                                <small class="text-muted">{{nroCtaDestinatario}}</small>
                            </h2>
                            </template>
                        </div>

                        <div class="card-body px-lg-5 py-lg-2">
                            <h4>Importe</h4>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">{{divisa}}</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Importe" value="{{importeDestinatario::input}}" autocomplete="off">
                            </div>
                            <h6><i class="ni ni-air-baloon text-primary"></i>Dispones en tu cuenta de un saldo de {{divisa}}{{saldoDisponible}}</h6><br>
                            <h4>Concepto</h4>
                            <input type="text" class="form-control" placeholder="Concepto" value="{{conceptoDestinatario::input}}"><br>

                            <div class="text-center">
                                <button type="button" class="btn btn-default" on-click="accionTransferir">Transferir</button>
                                <button type="button" class="btn btn-default" on-click="regresarOper">Cancelar</button>
                            </div>

                        </div>

                    </div>

                </div>
                <div id="comprobanteImg" class="row justify-content-md-center" hidden$={{operExitosa}}>
                    <div class="card bg-secondary border-0 mb-0col-lg-5 col-md-7">
                        <div class="card-header bg-transparent text-center px-lg-5 py-lg-2">
                            <div class="alert alert-success" role="alert">
                                    <strong>Operación exitosa - Código operación</strong>
                                    <h4>{{resumenOperacion.nroOperacion}}</h4>
                                    <h5>Fecha: {{resumenOperacion.fecha}} Hora: {{resumenOperacion.hora}}</h5>
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-2">
                            <div class="table-responsive">
                                <!-- Projects table -->
                                <table class="table align-items-center table-flush">
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                Cuenta Cargo:
                                            </th>
                                            <td>
                                                {{resumenOperacion.idCtaOrigen}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Cuenta Destino:
                                            </th>
                                            <td>
                                                {{resumenOperacion.idCtaDestino}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Moneda y monto:
                                            </th>
                                            <td>
                                                {{divisa}} {{resumenOperacion.importe}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Concepto:
                                            </th>
                                            <td>
                                                {{resumenOperacion.concepto}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <button type="button" class="btn btn-default" on-click="compartirOperacion">Enviar por Correo</button>
                                    <button type="button" class="btn btn-default" on-click="salirOperacion">Salir</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center" hidden$={{resourceNotFound}}>
                    <div class="card bg-secondary border-0 mb-0col-lg-5 col-md-7">
                        <div class="card-header bg-transparent text-center px-lg-5 py-lg-2">
                            <div class="alert alert-warning" role="alert">
                                <span class="alert-icon"><i class="ni ni-notification-70"></i></span>
                                <span class="alert-text"><strong>La cuenta ingresada no existe.</strong></span>
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-2 text-center">
                            <button type="button" class="btn btn-default" on-click="salirOperacion">Salir</button>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center" hidden$={{errorInterno}}>
                    <div class="card bg-secondary border-0 mb-0col-lg-5 col-md-7">
                        <div class="card-header bg-transparent text-center px-lg-5 py-lg-2">
                            <div class="alert alert-danger" role="alert">
                                <span class="alert-icon"><i class="ni ni-spaceship"></i></span>
                                <span class="alert-text"><strong>Ocurrió un error interno, por favor volver a intentar en unos minutos.</strong></span>
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-2 text-center">
                            <button type="button" class="btn btn-default" on-click="salirOperacion">Salir</button>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                <pie-componente></pie-componente>
            </div>
        </div>
        <!-- Argon Scripts -->
        <!-- Core -->
        </body>
        <iron-ajax
                content-type="application/json"
                handle-as="json"
                id="getMovimientos"
                method="GET"
                on-error="showError"
                on-response="showMovimientos"
                url="http://localhost:3003/techu/v1/usuarios/cuentas/{{idCuenta}}/movimientos">

        <iron-ajax
                content-type="application/json"
                handle-as="json"
                id="buscarDestinatario"
                method="GET"
                on-error="showErrorGetDestinatario"
                on-response="getDestinatario"
                url="http://localhost:3003/techu/v1/usuarios/cuentas/filtrado?nroCuenta='{{nroCtaDestinatario}}'">
        <iron-ajax
                content-type="application/json"
                handle-as="json"
                id="getdPersonalesDestinatario"
                method="GET"
                on-error="showError"
                on-response="showDataDestinatario"
                url="http://localhost:3003/techu/v1/usuarios/{{idUsuarioDestinatario}}">

        <iron-ajax
                content-type="application/json"
                handle-as="json"
                id="realizarOperacion"
                method="POST"
                on-error="showError"
                on-response="operacionExitosa"
                url="http://localhost:3003/techu/v1/usuarios/altaMovimiento">

        <iron-ajax
                content-type="application/json"
                handle-as="json"
                id="obtenerDatosCuenta"
                method="GET"
                on-error="showError"
                on-response="actualizarSaldoDisponible"
                url="http://localhost:3003/techu/v1/usuarios/cuenta/{{idCuenta}}">

        <iron-ajax
                id="doLogout"
                url="http://localhost:3003/techu/v1/usuarios/logout"
                content-type="application/json"
                method="POST"
                handle-as="json"
                on-response="showLogout"
                on-error="showError">

            <iron-ajax
                id="enviarConstanciaEmail"
                url="http://127.0.0.1:3003/techu/v1/utilitario/enviarEmail"
                content-type="application/json"
                method="POST"
                handle-as="json"
                on-response="envioEmailExitoso"
                on-error="showError">
    </template>

    <script>
        // Your new element extends the Polymer.Element base class
        class OperacionesCuentaPage extends Polymer.Element {
            static get is() {
                return 'operaciones-cuenta-page';
            }

            static get observers() {
                return [
                    '_routeChanged(route.*)',
                    '_viewChanged(routeData.view)'
                ]
            }

            //Create Observers cuando cambie el path setear los datos del localstorage
            static get properties() {
                return {
                    nombreApellido: {
                        type: String
                    }, divisa: {
                        type: String
                    }, saldoDisponible: {
                        type: String
                    }, DesCuenta: {
                        type: String
                    }, tipoCambio: {
                        type: String
                    }, movimientos: {
                        type: Array
                    },
                    idCuenta: {
                        type: String,
                        observer: '_movimientosCuenta'
                    },
                    tablaMovimientos:{
                        type: Boolean,
                        value: false
                    }, InCuenta: {
                        type: Boolean,
                        value: true
                    },InDetalleAlta:{
                        type: Boolean,
                        value: true
                    },operExitosa:{
                        type: Boolean,
                        value: true
                    }, dCuentasDestinatorio:{
                        type: Array
                    }, idUsuarioDestinatario:{
                        type: String,
                        observer: '_getDatosUsuarioDestinatario'
                    }, dPersonalesDestinatario:{
                        type: Array
                    }, nroCtaDestinatario:{
                        type: String
                    }, importeDestinatario: {
                        type: String
                    }, conceptoDestinatario: {
                        type: String
                    }, resumenOperacion:{
                        type: Object
                    }, resourceNotFound:{
                        type: Boolean,
                        value: true
                    }, errorInterno:{
                        type: Boolean,
                        value: true
                    }
                }
            }

            _routeChanged(changeRecord) {
                if (this.tail.prefix === '/operaciones-cuenta') {
                    this.nombreApellido = localStorage.getItem('nombresApellidos');
                    this.divisa = localStorage.getItem('divisa');
                    this.saldoDisponible = localStorage.getItem('saldo');
                    this.DesCuenta = localStorage.getItem('tipoCuenta');
                    this.tipoCambio = localStorage.getItem('tipoCambio');
                    this.idCuenta = localStorage.getItem('idCuenta');
                }
            }
            showLogout(data) {
                this.set('route.path', '/login/');
            }

            _movimientosCuenta() {
                console.log("invocaMovimientos");
                this.$.getMovimientos.generateRequest();
            }
            _getDatosUsuarioDestinatario(){
                this.$.getdPersonalesDestinatario.generateRequest();
            }

            showMovimientos(data) {
                console.log("data Movimientos");
                this.movimientos = data.detail.response;
            }
            getDestinatario(data){
                console.log("data Destinatario");
                this.dCuentasDestinatorio = data.detail.response;
                this.idUsuarioDestinatario = data.detail.response[0].id_usuario;
                localStorage.setItem("divisaDestinatario",data.detail.response[0].id_divisa);
                this.InDetalleAlta = false;
            }
            showDataDestinatario(data){
                console.log("datos Personales Destinatario");
                console.log(data.detail.response);
                this.dPersonalesDestinatario = data.detail.response;
            }

            showError(e) {
                console.log(e)
            }
            showErrorGetDestinatario(e){
                const req = e.detail.request;
                if(req.status===404){
                    // Mostrar  alerta de recurso no encontrado
                    this.resourceNotFound = false
                } else{
                    //mostrar error en la operación, intente en unos minutos
                    this.errorInterno=false;
                }
            }

            actualizarSaldoDisponible(data){
                let dataCuenta = data.detail.response;
                this.saldoDisponible = dataCuenta[0].saldo;
                console.log("nuevo Saldo: " + dataCuenta.saldo);
            }

            transferir(){
                this.nroCtaDestinatario ="";
                this.importeDestinatario="";
                this.conceptoDestinatario="";
                this.resumenOperacion="";
                this.tablaMovimientos = true;
                this.resourceNotFound = true;
                this.InCuenta =false;
                this.errorInterno=true;

            }
            buscarBeneficiario(){
                if(this.nroCtaDestinatario ==='' || this.nroCtaDestinatario===null){
                    swal("", "El número de cuenta es requerido.", "warning");
                } else{
                    if (this.nroCtaDestinatario.match("[0-9]+")){
                        this.InCuenta =true;
                        this.resourceNotFound = true;
                        this.errorInterno=true;
                        this.$.buscarDestinatario.generateRequest();
                    }else{
                        swal("", "El número de cuenta solo admite valores numéricos", "warning");
                    }
                }
            }
            accionTransferir(){
                if(this.importeDestinatario ==='' || this.importeDestinatario===null){
                    swal("", "El importe, es requerido.", "warning");
                } else{
                    if (this.importeDestinatario.match("[0-9]+")){
                        let operDate = new Date();
                        let dia = operDate.getDate();
                        let mes = operDate.getMonth()+1;
                        let fecha =dia +"/"+mes+"/"+operDate.getFullYear();
                        let hora = operDate.getHours() + ":" + operDate.getMinutes();
                        console.log(fecha+ " " + hora)
                        localStorage.setItem("fechaHora",fecha+" "+hora);
                        let numOper = new Date().valueOf();
                        localStorage.setItem("numOperacion",numOper);
                        let operacion = {
                            "idCtaOrigen":localStorage.getItem("nroCuenta"),
                            "idCtaDestino":this.nroCtaDestinatario,
                            "importe":parseFloat(this.importeDestinatario),
                            "concepto": this.conceptoDestinatario,
                            "fecha":fecha,
                            "hora": hora,
                            "nroOperacion": numOper
                        };
                        this.InDetalleAlta = true;
                        this.$.realizarOperacion.body = JSON.stringify(operacion);
                        this.$.realizarOperacion.generateRequest();
                        this.resumenOperacion = operacion;
                    }else{
                        swal("", "El importe, solo acepta valores numéricos.", "warning");
                    }
                }
            }
            operacionExitosa(data){
                console.log("Operacion exitosa");
                this.operExitosa =false;
                this.$.obtenerDatosCuenta.generateRequest();
            }
            salirOperacion(){
                this.tablaMovimientos = false;
                this.$.getMovimientos.generateRequest();
                this.operExitosa =true;
                this.errorInterno=true;
                this.resourceNotFound = true;
            }
            regresarMisCuentas(){
                this.set('route.path', '/dashboard/');
            }
            regresarOper(){
                this.tablaMovimientos = false;
                this.InCuenta = true;
                this.InDetalleAlta=true;
                this.errorInterno=true;
                this.resourceNotFound = true;
            }
            salir(){
                var logoutData = {
                    "username" : this.userName
                };
                this.$.doLogout.body = JSON.stringify(logoutData);
                this.$.doLogout.generateRequest();
            }
            conocenos(){
                swal({
                    title: "Desarrolladores",
                    text: "Joana Melgarejo y José Vargas",
                    icon: "info",
                });
            }

            compartirOperacion(){
                var logoutData = {
                    "email":localStorage.getItem("email"),
                    "nombre":localStorage.getItem("nombresApellidos"),
                    "importe":localStorage.getItem("divisa") + parseFloat(this.importeDestinatario),
                    "numOperacion": localStorage.getItem("numOperacion"),
                    "hora": localStorage.getItem("fechaHora"),
                    "beneficiario": this.nroCtaDestinatario,
                    "concepto": this.conceptoDestinatario
                };
                this.$.enviarConstanciaEmail.body = JSON.stringify(logoutData);
                this.$.enviarConstanciaEmail.generateRequest();
            }

            envioEmailExitoso(){
                swal({
                    title: "Envío Exitoso",
                    text: "Se envió la constancia al email: " + "'"+localStorage.getItem("email")+"'",
                    icon: "success",
                });
            }

        }
        //Register your new custom element so the browser can use it
        customElements.define(OperacionesCuentaPage.is, OperacionesCuentaPage);
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</dom-module>
