<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="/assets/css/styles.html" />

<dom-module id="recuperar-usuario-page">
  <template>
  <style include="syles-front"></style>
      <app-location route="{{route}}"></app-location>
      <app-route
              route="{{route}}"
              pattern="/:page"
              data="{{data}}"
              tail="{{tail}}">
      </app-route>
  <div class="wrapper">
    <div hidden$={{pagRecueprar}} class="container">
        <div class="container-logo"><img src="https://cellspgc.bbva.pe/resources/images/logo_bbva_blanco.svg"></div>
        <span></span> <br>
        <span><select style="height:14%;width:22%;font-weight:800;font-size:18px" value="{{optionDoc::input}}">
          <option>DNI</option>
          <option>EXT</option>
        </select>
        <input id="documento" name="documento" placeholder="Documento" class="input-text-doc" autocomplete="off" value="{{documento::input}}" type="text" size="8" maxlength="8" required /></span>
        <div><input id="username" name="username" placeholder="Usuario" class="input-text" autocomplete="off" value="{{username::input}}"/></div>
        <button id="enviar" class="btn-custom" on-click="enviarPass">Enviar</button><br>
        <button id="cancelar" class="btn-custom" on-click="cancelarR">Cancelar</button><br>
        <div class ="error" hidden ="true" id="divMsg"><span id="spanMsg">{{respMsg}}</span></div>
    </div>
  </div>
</div>

<iron-ajax
  id="getUsuarios"
  url="http://localhost:3003/techu/v1/usuarios/password/{{tipo}}/{{documento}}/{{username}}"
  handle-as="json"
  on-response="showData"
  on-error="showError">
  </template>

  <script>

    class RecuperarUsuarioPage extends Polymer.Element {
      static get is() { return 'recuperar-usuario-page'; }
      static get properties() {
        return {
            optionDoc: {
            type: String,
            value: 'DNI'
            },
            documento: {
            type: String
            },
            tipo: {
            type: Number
            },
            username: {
            type: String
            },
            password: {
            type: String
            },
            email: {
            type: String
            },
            respError: {
            type: String
            },
            pagRecuperar:{
            type: Boolean,
            value: false
            }
          };
        }


        showData(data) {
          this.$.documento.value="";
          this.$.username.value="";

          swal({
              title: data.detail.response.msg,
              icon: "info",
          });

          this.set('route.path', '/login/');

        }

        enviarPass(){

          var men;

          if((this.$.documento.value=="") || (this.$.username.value=="")){
            men ="Datos no ingresados";
          }


          if (men != undefined){
            swal({
                title: "Oops...",
                text: men,
                icon: "error",
            });

          }else{
            if(this.optionDoc=='DNI'){
              this.tipo=1;
            }else{
              this.tipo=2;
            }
            console.log(this.tipo);
            this.$.getUsuarios.generateRequest();
          }
        }

        showError(error) {
          console.log("Hubo un error");
          console.log(error);
        }

        cancelarR(){
            this.set('route.path', '/login/');
        }
  }
    window.customElements.define(RecuperarUsuarioPage.is, RecuperarUsuarioPage);
  </script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</dom-module>
