<link href="../../bower_components/polymer/polymer-element.html" rel="import">
<link href="../componentes/miga-componente.html" rel="import">
<link href="../componentes/pie-componente.html" rel="import">

<dom-module id="tarjetas-page">
    <!-- Defines the element's style and local DOM -->
    <template>
        <app-location route="{{route}}"></app-location>
        <app-route
                data="{{data}}"
                pattern="/:page"
                route="{{route}}"
                tail="{{tail}}">
        </app-route>
        <!-- Favicon -->
        <link href="../../assets/img/brand/favicon.png" rel="icon" type="image/png">
        <!-- Icons -->
        <link href="../../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet" type="text/css">
        <link href="../../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Argon CSS -->
        <link href="../../assets/css/argon.css?v=1.2.0" rel="stylesheet" type="text/css">
        <body>
        <!-- Sidenav -->
        <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white"
             id="sidenav-main">
            <div class="scrollbar-inner">
                <!-- Brand -->
                <div class="sidenav-header  align-items-center">
                    <a class="navbar-brand" href="javascript:void(0)">
                        <img alt="..." class="navbar-brand-img" src="../../assets/img/brand/bbva.png">
                    </a>
                </div>
                <div class="navbar-inner">
                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                        <!-- Nav items -->
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="/dashboard">
                                    <i class="ni ni-money-coins text-primary"></i>
                                    <span class="nav-link-text">Cuentas</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tarjetas">
                                    <i class="ni ni-credit-card text-orange"></i>
                                    <span class="nav-link-text">Tarjetas</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Divider -->
                        <hr class="my-3">
                        <!-- Heading -->
                        <h6 class="navbar-heading p-0 text-muted">
                            <span class="docs-normal">Conocenos</span>
                        </h6>
                        <!-- Navigation -->
                        <ul class="navbar-nav mb-md-3">
                            <li class="nav-item" on-click="conocenos">
                                <a class="nav-link" target="_blank" >
                                    <i class="ni ni-pin-3 text-primary"></i>
                                    <span class="nav-link-text">Desarrolladores</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Main content -->
        <div class="main-content" id="panel">
            <!-- Topnav -->
            <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- Search form -->
                        <div class="text-green">
                            El tipo de cambio de hoy del <strong>Dolar</strong> es <strong>{{tipoCambio}} soles.</strong>
                        </div>
                        <br>
                        <ul class="navbar-nav align-items-center  ml-md-auto ">
                        </ul>
                        <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                            <li class="nav-item dropdown">
                                <a style="color:#f4f4f4">
                                    <div class="media align-items-center">
                                        <span class="avatar avatar-sm rounded-circle">
                                          <img alt="Image placeholder" src="../../assets/img/theme/team-4.jpg">
                                        </span>
                                        <div class="media-body  ml-2  d-none d-lg-block">
                                            <span class="mb-0 text-sm  font-weight-bold">{{nombreApellido}}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item dropdown">|</li>
                            <li class="nav-item dropdown">
                                <button class="btn btn-outline-danger" type="button" on-click="salir">
                                    <span class="btn-inner--icon"><i class="ni ni-curved-next"></i></span>
                                    <span class="btn-inner--text">Salir</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header -->
            <!-- Header -->
            <div class="header bg-primary pb-6">
                <div class="container-fluid">
                    <div class="header-body">
                        <miga-componente></miga-componente>
                        <!-- Card stats -->
                        <div class="row justify-content-md-center">
                            <div class="tab-content col-xl-9">

<!--                                <div class="card shadow">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div aria-labelledby="tabs-icons-text-1-tab"
                                                 class="tab-pane fade show active">
                                                <h3 class="text-center">{{DesCuenta}}</h3>
                                                <h2 class="text-center">
                                                    <small class="text-muted">{{divisa}}{{saldoDisponible}}</small>
                                                </h2>
                                                <h3 class="text-center">
                                                    <small class="text-muted">Saldo disponible</small>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page content -->
            <div class="container-fluid mt--6">
                <div class="row justify-content-md-center" hidden$={{tablaMovimientos}}>
                    <div class="col-xl-9">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0">Mis Tarjetas</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <!-- Projects table -->
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Nro. tarjeta</th>
                                        <th scope="col">Clase</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Vencimiento</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template is="dom-repeat" items="{{tarjetas}}">
                                        <tr>
                                            <th scope="row">
                                                {{item.numero_tarjeta}}
                                            </th>
                                            <td>
                                                {{item.clase}}
                                            </td>
                                            <td>
                                                {{item.estado}}
                                            </td>
                                            <td>
                                                {{item.vencimiento}}
                                            </td>
                                        </tr>
                                    </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Footer -->
                <pie-componente></pie-componente>
            </div>
        </div>
        <!-- Argon Scripts -->
        <!-- Core -->
        </body>
        <iron-ajax
                content-type="application/json"
                handle-as="json"
                id="getTarjetas"
                method="GET"
                on-error="showError"
                on-response="showTarjetas"
                url="http://localhost:3003/techu/v1/usuarios/cuentas/tarjetas?filtro={{urlSoloCuentas}}">


        <iron-ajax
                id="doLogout"
                url="http://localhost:3003/techu/v1/usuarios/logout"
                content-type="application/json"
                method="POST"
                handle-as="json"
                on-response="showLogout"
                on-error="showError">
    </template>

    <script>
        // Your new element extends the Polymer.Element base class
        class TarjetasPage extends Polymer.Element {
            static get is() {
                return 'tarjetas-page';
            }

            static get observers() {
                return [
                    '_routeChanged(route.*)',
                    '_viewChanged(routeData.view)'
                ]
            }

            //Create Observers cuando cambie el path setear los datos del localstorage
            static get properties() {
                return {
                    nombreApellido: {
                        type: String
                    }, divisa: {
                        type: String
                    }, saldoDisponible: {
                        type: String
                    }, DesCuenta: {
                        type: String
                    }, tipoCambio: {
                        type: String
                    }, tarjetas: {
                        type: Array
                    },
                    idCuenta: {
                        type: String,
                        observer: '_tarjetas'
                    },
                    tablaMovimientos: {
                        type: Boolean,
                        value: false
                    },urlSoloCuentas:{
                        type: String
                    },
                }
            }

            _routeChanged(changeRecord) {
                if (this.tail.prefix === '/tarjetas') {
                    //console.log(JSON.parse(localStorage.getItem("urlSoloCuentas")));
                    let arraycuenta = localStorage.getItem("urlSoloCuentas");
                    this.urlSoloCuentas = arraycuenta.toString();
                    this.idCuenta = localStorage.getItem('idCuenta');
                    this.nombreApellido = localStorage.getItem("nombresApellidos");
                    this.tipoCambio = localStorage.getItem("tipoCambio");
                }
            }
            showLogout(data) {
                //console.log(data.detail.response);
                this.set('route.path', '/login/');
            }

            _tarjetas() {
                console.log("Invocar tarjetas");
                this.$.getTarjetas.generateRequest();
            }

            showTarjetas(data) {
                console.log("data Tarjetas");
                this.tarjetas = data.detail.response;
            }


            showError(e) {
                console.log(e)
            }


            salir(){
                var logoutData = {
                    "username" : this.userName
                };
                this.$.doLogout.body = JSON.stringify(logoutData);
                this.$.doLogout.generateRequest();
            }
            conocenos(){
                swal({
                    title: "Desarrolladores",
                    text: "Joana Melgarejo y José Vargas",
                    icon: "info",
                });
            }
        }


        //Register your new custom element so the browser can use it
        customElements.define(TarjetasPage.is, TarjetasPage);
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</dom-module>
