<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cuentas-bloques">
    <template>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">IBAN</th>
                <th scope="col">Balance</th>
            </tr>
            </thead>
            <tbody>
            <template is="dom-repeat" items="{{cuentas}}">
                <tr>
                    <td>{{item.id_cuenta}}</td>
                    <td>{{item.id_usuario}}</td>
                    <td>{{item.tipo_cuenta}}</td>
                    <td>{{item.numero_cuenta}}</td>
                    <td>{{item.id_divisa}}</td>
                    <td>{{item.saldo}}</td>
                </tr>
            </template>
            </tbody>
        </table>

        <iron-ajax
            id="getAccounts"
            url="http://localhost:3003/techu/v1/usuarios/{{idUsuario}}/cuentas"
            handle-as="json"
            on-response="showData">
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class CuentasBloques extends Polymer.Element {
            static get is() { return 'cuentas-bloques'; }
            static get properties() {
                return {
                    idUsuario: {
                        type: Number
                    },cuentas:{
                        type: Array
                    }
                };
            }
            ready() {
                super.ready();
                this.idUsuario = 5;
                this.$.getAccounts.generateRequest();
            }

            showData(data) {
                console.log('response');
                console.log(data.detail.response);
                this.cuentas = data.detail.response;
            }

        }
        window.customElements.define(CuentasBloques.is, CuentasBloques);
    </script>
</dom-module>
