<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="menu-lateral-componente">
    <template>
        <!-- Icons -->
        <link rel="stylesheet" href="../../assets/vendor/nucleo/css/nucleo.css" type="text/css">
        <link rel="stylesheet" href="../../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
        <!-- Argon CSS -->
        <link rel="stylesheet" href="../../assets/css/argon.css?v=1.2.0" type="text/css">
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Nav items -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="examples/dashboard.html">
                        <i class="ni ni-money-coins text-primary"></i>
                        <span class="nav-link-text">Cuentas</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="examples/icons.html">
                        <i class="ni ni-credit-card text-orange"></i>
                        <span class="nav-link-text">tarjetas</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="examples/map.html">
                        <i class="ni ni-chart-bar-32 text-primary"></i>
                        <span class="nav-link-text">Movimientos</span>
                    </a>
                </li>
            </ul>
            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            <h6 class="navbar-heading p-0 text-muted">
                <span class="docs-normal">Lo Nuevo</span>
            </h6>
            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://demos.creative-tim.com/argon-dashboard/docs/foundation/colors.html"
                       target="_blank">
                        <i class="ni ni-pin-3 text-primary"></i>
                        <span class="nav-link-text">Ubícanos</span>
                    </a>
                </li>

            </ul>
            </div>
        </div>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class MenuLateralComponente extends Polymer.Element {
            static get is() { return 'menu-lateral-componente'; }
            static get properties() {
                return {
                };
            }
        }
        window.customElements.define(MenuLateralComponente.is, MenuLateralComponente);
    </script>
</dom-module>
