<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="miga-componente">
    <template>
        <!-- Favicon -->
        <link rel="icon" href="../../assets/img/brand/bm.png" type="image/png">
        <!-- Fonts -->
        <!-- Icons -->
        <link rel="stylesheet" href="../../assets/vendor/nucleo/css/nucleo.css" type="text/css">
        <link rel="stylesheet" href="../../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
        <!-- Page plugins -->
        <!-- Argon CSS -->
        <link rel="stylesheet" href="../../assets/css/argon.css?v=1.2.0" type="text/css">
        <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
            </div>
        </div>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class MigaComponente extends Polymer.Element {
            static get is() { return 'miga-componente'; }
            static get properties() {
                return {
                };
            }
        }
        window.customElements.define(MigaComponente.is, MigaComponente);
    </script>
</dom-module>
