<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="pie-componente">
    <template>
        <!-- Favicon -->
        <link rel="icon" href="../../assets/img/brand/bm.png" type="image/png">
        <!-- Fonts -->
        <!-- Icons -->
        <link rel="stylesheet" href="../../assets/vendor/nucleo/css/nucleo.css" type="text/css">
        <link rel="stylesheet" href="../../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
        <!-- Page plugins -->
        <!-- Argon CSS -->
        <link rel="stylesheet" href="../../assets/css/argon.css?v=1.2.0" type="text/css">

        <footer class="footer pt-0">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6">
                    <div class="copyright text-center  text-lg-left  text-muted">
                        &copy; 2020-2 <a href="#" class="font-weight-bold ml-1" target="_blank">Tech
                        University</a>
                    </div>
                </div>
            </div>
        </footer>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class PieComponente extends Polymer.Element {
            static get is() { return 'pie-componente'; }
            static get properties() {
                return {
                };
            }
        }
        window.customElements.define(PieComponente.is, PieComponente);
    </script>
</dom-module>
